h1 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#revelle {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    left: 37%;
}

#muir {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 22%;
    left: 37%;
}

#marshall {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 27.75%;
    left: 37%;
}

#goody {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 33.5%;
    left: 37%;
}

#warren {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 39.25%;
    left: 37%;
}

#roosevelt {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 45%;
    left: 37%;
}

#sixth {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 50.75%;
    left: 37%;
}

#seventh {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 56.5%;
    left: 37%;
}

#seventhdeli {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 62.25%;
    left: 37%;
}

#clubmed {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 68%;
    left: 37%;
}

#foodworx {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 73.75%;
    left: 37%;
}

#audrey-cafe {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 79.5%;
    left: 37%;
}

#sunshine {
    width: 325px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    margin: 0;
    position: absolute;
    top: 85.25%;
    left: 37%;
}